.*~
*~
#*#
*.bak*
build/*
*.class
.classpath
dist/*
*.iml
lib/*
lib-junit/*
lib-pmd/*
*.log*
.project
reports/*
src/dataserviceLog.html
src/gen/*
src/test-gen/*
*.tmp*

###
.idea
*.iws
*.ipr
target
*.iml
